{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
	<!--
		<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/monitorICM.css' %}">
		<script src= "{% static 'js/bootstrap.min.js' %}" type= text/javascript ></script>
		<script src= "{% static 'js/jquery.min.js' %}" type= text/javascript></script>


	<style>body{background-image: url("{% static 'images/greyzz.png' %}");}</style>
    <title>Monitoreo ICM</title>
  	</head>

  	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: linear-gradient(#00a8e0, #33ccff);">
			<a class="navbar-brand" href="{% url 'monitoreoICM' %}" style = "margin-left:20px;">
				<img src= "{% static 'images/att-logo-black-transparent.png' %}" width="125" height="50" alt="">
			</a>
			<a class="navbar-brand" href="#" style = "font-size:24px!important;"><strong>Monitoreo de conexiones ICM</strong></a>
		</nav>

		

		

		<div class = "container">
			<!--
			<button onclick = "updateICMS()" >prueba</button>
			-->
			<div id = "tb_conexiones" style = "margin-top:40px;"></div>
		</div>
	
	
	
	</body>
</html>
<script>


$( document ).ready(function() {    
	updateICMS();
});


/*
* Descripcion : Realiza la peticion en un 
* intervalo de tiempo
* Fecha de la creacion:     18/05/2023
* Author:                   Eduardo Bernal
*/
let timerId = setInterval(() => {
	updateICMS();
	console.log(Date());
}, 15000);
	

/*
* Descripcion : Hace una inyeccion div
* de la tabla con los ICMS
* Fecha de la creacion:     18/05/2023
* Author:                   Eduardo Bernal
*/
function updateICMS(){

	$.ajax({
	url : 'http://127.0.0.1:8000/tablaConexiones/',
	type : 'get',
	success : function(response) {
		
		$('#tb_conexiones').html(response);
		
	},
	error : function(jqXHR, status, error) {
		
	},
	complete : function(jqXHR, status) {
	}
	});
	
	
}

</script>


