{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/monitorICM.css' %}">
		<script src= "{% static 'js/bootstrap.min.js' %}"></script>
		<script src= "{% static 'js/jquery.min.js' %}"></script>
		<style>body{background-image: url("{% static 'images/greyzz.png' %}");}</style>


    <title>Monitoreo ICM</title>
  	</head>
  	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: linear-gradient(#00a8e0, #33ccff);">
		
		
		<a class="navbar-brand" href="{% url 'monitoreoICM' %}" style = "margin-left:20px;">
			<img src= "{% static 'images/att-logo-black-transparent.png' %}" width="125" height="50" alt="">
		</a>
		
				
	</nav>
	<div class = "container">
		<h4>¿Estas perdido?</h4>    
	</div>
	</body>
</html>
<script>
</script>