{% load static %}
<div class = "container" >
	<div id = "div_tabla">
	<table class="table table-hover tb_responsive shadow">
		<thead>
		<tr>
			<th style = "width:20%" >Intercarrier</th>
			<th style = "width:20%" >IP</th>
			<th style = "width:20%" >N&uacute;mero de conexiones</th>
			<th style = "width:20%" >Fecha de conexi&oacute;n</th>
			<th style = "width:20%">Estado</th>
		</tr>
		</thead>
		<tbody>

			{% for i in conexiones %}
			
			
			
			
			
			{% if i.conexiones > 0 %}
				
			<tr>
						
						<td>{{ i.nombre }}</td>
						<td>{{ i.ip }}</td>
						<td>{{ i.conexiones }}</td>
						<td>{{ i.fecha_conexion }}</td>
						<td >
							<img width = "25" height = "25" src= "{% static 'images/aprobado.png' %}" title = "Intercarrier con {{i.conexiones}} conexiones exitosas" style = "cursor:pointer" />
						</td>
					
					</tr>
				{% else %}
				<tr>
						<td>{{ i.nombre }}</td>
						<td>{{ i.ip }}</td>
						<td>{{ i.conexiones }}</td>
						<td>{{ i.fecha_conexion }}</td>
						<td>
							<img width = "25" height = "25" src= "{% static 'images/warning.png' %}" title = "Intercarrier con {{i.conexiones}} conexiones" style = "cursor:pointer"/>
						</td>
				</tr>
				{% endif %}
					
			{% endfor %}

			
		</tbody>
		
	</table>

	</div>

</div>