{% load static %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Intercarrier</th>
        <th>IP</th>
        <th>Fecha conexi&oacute;n</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>

		{% for i in conexiones %}
		<tr>
			<td>{{ i.ICM }}</td>
			<td>{{ i.IP }}</td>
			<td>{{ i.FECHA }} {{ i.HORA }}</td>
			{% if i.CON > "0" %}
			<td>
				<img width = "25" height = "25" src= "{% static 'images/aprobado.png' %}" title = "Intercarrier con {{i.CON}} conexiones exitosas" style = "cursor:pointer" />
			</td>
			{% else %}
			<td>
				<img width = "25" height = "25" src= "{% static 'images/warning.png' %}" title = "Intercarrier con {{i.CON}} conexiones" style = "cursor:pointer"/>
			</td>
			{% endif %}
		</tr>	
		{% endfor %}
    </tbody>
    
</table>